useDynLib(mlabs, .registration=TRUE)
importFrom(Rcpp,evalCpp)
import(stats)
import(utils)
importFrom(grDevices,png,dev.off)
export(mlabs_collapsed)
export(mlabs_control)
export(basis_analysis)
export(marginal_var_prob)
export(diagnosis)
export(plot_acf)
export(plot_basis_analysis)
export(plot_fitted)
export(plot_marginal_var_prob)
export(plot_residuals)
S3method(predict,mlabs)
S3method(summary,mlabs)
S3method(print,summary.mlabs)
S3method(print,basis_analysis)
S3method(print,marginal_prob)
